html {
  background-color: #fff;
  font-family: Inter, sans-serif;
}

.masthead {
  background-color: #045fa2;
  color: #fff;
}

.logo, .logo2 {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a, .title {
  color: #fff;
  text-decoration: none;
}

.nav a:hover span,
.nav a:focus span {
  background-color: #fff;
  color: #045fa2;
  padding: .5rem;
}

.banner {
  min-height: 17em;
  color: #045fa2;
}

.btn-banner {
  background-color: #e8be3b;
  border-color: #045fa2;
  border-radius: 13px;
  color: #fff;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #fff;
  border-color: #045fa2;
  color: #045fa2;
}

.banner-content {
  max-width: 35em;
  color: #045fa2;
}

.review-content {
  background-color: #000;
}

.feature-content {
  max-width: 25em;
  color: #045fa2;
}

.copyright, h2, h3, .log, input {
  color: #045fa2;
}

.plan, .review-title {
  color: #e8be3b;
}

.plans, .ultimate, .professional, .starter, .border {
  color: #e8be3b;
  background-color: #000;
  border: .1rem solid #e8be3b;
}

.feature-ifo {
  color: #045fa2;
}

.review {
  color: #e8be3b;
  background-color: #000;
}

.border-info {
  background-color: #045fa2;
  border-color: #e8be3b;
  border-radius: 4px;
  color: #fff;
}

.tour-content {
  max-width: 35em;
}

.tech-info {
  max-width: 28em;
  color: #045fa2;
}

.services, .border-top {
  border-top: .1rem solid #045fa2;
  border-bottom: .1rem solid #045fa2;
}

.info, footer, h1 {
  border-bottom: .1rem solid #045fa2;
}

.container {
  padding: 2.6rem 1.3rem;
  background-color: #fff;
}

.btn {
  padding: .15rem .5rem;
}

.btn-light {
  background-color: #e8be3b;
  border-color: #045fa2;
  border-radius: 4px;
  color: #fff;
}

.btn-light:hover,
.btn-light:focus {
  background-color: #fff;
  border-color: #045fa2;
  color: #045fa2;
}

fieldset {
  border-top: none;
}

.form {
  background-color: #a7cae5;
}

.bee-icon {
  max-height: 29.2em;
}

input {
  border-color: #045fa2;
}

textarea {
  border-color: #045fa2;
}

select {
  border-color: #045fa2;
}

.btn-blue {
  background-color: #045fa2;
  border-color: #045fa2;
  color: #fff;
}

@media only screen and (min-width: 37.5em) {

  .bee-icon {
    max-height: 24em;
  }

}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

}

@media only screen and (min-width: 59em) {

  .bee-icon {
    max-height: 25.5em;
  }

}

@media only screen and (min-width: 60em) {

  .name, .age, .email, .fitness {
    width: 50%;
  }

  .age {
    padding-top: 1.125rem;
  }

}
