html {
  background-color: #fff;
  font-family: 'Inter', sans-serif;
}
.masthead {
  background-color: #045FA2;
  color: #fff;
}

.logo, .logo2 {
  text-align: center;
}

.nav {
  text-align: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
}


.nav a:hover span,
.nav a:focus span {
  background-color: #fff;
  color: #045FA2;
  padding: .5rem;
}

.banner {
  min-height: 17em;
  color: #045FA2;
}

.btn-banner {
  background-color:#E8BE3B;
  border-color: #045FA2;
  border-radius: 13px;
  color: #fff;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #fff;
  border-color: #045FA2;
  color: #045FA2;
}

.banner-content {
  max-width: 35em;
  color: #045FA2;
}

.review-content {
  background-color: #000;
}

.feature-content {
  max-width: 25em;
  color: #045FA2;
}

.copyright, h2, .log, input {
  color: #045FA2;
}

.plans,.ultimate, .professional,.starter, .border {
  color: #E8BE3B;
  background-color: #000;
  border: .1rem solid #E8BE3B;
}
.feature-ifo {
  max-width: 2em;
  color: #045FA2;
}

.review {
  color: #E8BE3B;
  background-color: #000;
}

.border-info  {
  background-color: #045FA2;
  border-color: #E8BE3B;
  border-radius: 4px;
  color: #fff;
}

.tour-content {
  max-width: 35em;
}

.tech-info {
  max-width: 28em;
  color: #045FA2;
}

.services,.border-top{
  border-top: .1rem solid #045FA2;
  border-bottom: .1rem solid #045FA2;
}

.info,footer,h1 {
  border-bottom: .1rem solid #045FA2;
}

.container {
  padding: 2.6rem 1.3rem;
  background-color: #fff;
}

.btn {
  padding: .15rem .5rem;
}

.btn-light {
  background-color:#E8BE3B;
  border-color: #045FA2;
  border-radius: 4px;
  color: #fff;
}

.btn-light:hover,
.btn-light:focus {
  background-color: #fff;
  border-color: #045FA2;
  color:#045FA2;
}

fieldset {
  border-top: none;
}

form {
  background-color: #A7CAE5;
}

.bee-icon {
  min-height: 17em;
}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

}

@media only screen and (min-width: 60em) {

  .name, .age, .email, .fitness {
    width: 50%;
  }

  .age {
    padding-top: 1.125rem;
  }

}




input {
  border-color: ##045FA2;
}

textarea {
  border-color: ##045FA2;
}

select {
  border-color: #045FA2;
}

.btn {
  background-color: #045FA2;
  border-color: #045FA2;
  color: #fff;
}
